<div>
    <div class="detailed-movie-card">

    <img src="{{this.image}}" alt="{{this.title}}">
    <h2>{{this.title}}</h2>
    <h3>{{this.director}}</h3>
    <ul>
        {{this.stars}}
    </ul>
    
    <p>{{this.description}}</p>
    <p>{{this.showtimes}}</p>
    <h3 class="movie-title">{{this.title}}</h3>
</div>